<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Fila de Clientes</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/participante.css">
  </head>

  <body>
    <div class="header">
      <a href="/">
        <img class="voltar" src="/assets/images/volta.png" alt="Logo">
      </a>
      <h2>Eventos do momento</h2>
      <img class="filtro" src="/assets/images/filtro.png">
    </div>

    <div class="cards">

      <% @events.each_with_index do |event, index| %>
      <div class="card">
        <div>
          <a href="/info/<%= event.object_id %>">
            <img class="card-img" src="/assets/images/<%= index %>.jpg">
          </a>
        </div>
        <div class="card-content">
          <h3><strong>
              <%= event.name %>
              <%= index %>
            </strong>
          </h3>
          <div class="infos">
            <p><strong>Data: </strong>
              <%= event.date %>
            </p>
            <p><strong>Hora: </strong>
              <%= event.hour %>
            </p>
            <p><strong>Tipo de Evento: </strong>
              <%= event.category %>
            </p>
          </div>
          <div class="like">
            <img class="like-img" src="/assets/images/like.png">
          </div>
        </div>
      </div>
      <% end %>
      
    </div>
  </body>

</html>